%base {
    width: 300px;
    height: 30px;
    background-color: blue;
}

.extended {
    @extend %base;
    border-radius: 50px;
}

.extended-two {
    @extend %base;
    display: flex;
    justify-content: center;
    align-items: center;
}
